<div class="p-2 transition-all {{ class }}">
  <a href="{{ portfolio_url }}{{ id }}">
    <img src="{{ source }}" alt="{{ title }}" id="{{ id }}" class="block object-cover object-center w-full h-full rounded-lg">
  </a>
</div>
