<div class="relative">
<div class="absolute left-3 top-8 h-full">
<a class="text-black no-underline dark:text-slate-100" href="../portfolio/{{ prev }}">
<i class="fa-solid fa-chevron-left"></i>
</a>
</div>
</div>

<div class="relative">
<div class="absolute right-3 top-8 h-full">
<a class="text-black no-underline dark:text-slate-100" href="../portfolio/{{ next }}">
<i class="fa-solid fa-chevron-right"></i>
</a>
</div>
</div>

<div class="relative">
<div class="absolute top-1 right-3">
<a class="text-black no-underline dark:text-slate-100" href="../portfolio#{{ id }}">
<i class="fa fa-xmark"></i>
</a>
</div>
</div>

<a class="text-black no-underline dark:text-slate-100" href="../portfolio#{{ id }}">
  <img alt="{{ title }}" id="{{ id }}" class="w-full h-full rounded-lg"
       src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20({{ id }}).webp">
</a>
